@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
  background-color: #758250;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.card {
  width: 200px;
  height: 150px;
  border: 2px black solid;
  border-radius: 25%;
  margin: 2%;
  box-sizing: border-box;
  padding: 2%;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.events {
  width: 100%;
  border: 2px black solid;
  background-color: white;
  padding: 5%
}

h3{
margin-bottom: 1.5rem;

}

.events h3 {

}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.re-card{
    background-color: peachpuff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
  }

.btn, button{
  background-color: #D1E2C4;
  padding: 0.5rem;
  margin: 3%;
  border-radius: 5px;
}

.btn:hover, button:hover {
  background-color: #758250;
  color: white;
}

header, footer {
  background-color: rgb(240, 240, 240);
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links{
  text-decoration: none;
  color: #758250;
  font-size: 1.5rem;
  font-weight: 600;
}

.links:hover{
  border-bottom: 5px solid #F8D3B0;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: #D1E2C4;
  }
